#wrapper{
    width: 540px;;
}
#advice-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 25px 0;
    background-color: var(--Dark-Grayish-Blue);    
    padding: 25px 20px 50px 20px;
    text-align: center;
}

#advice-box #advice-id h1{
    color: var(--Neon-Green);
    font-size: 10px;
    letter-spacing: 5px;
    text-align: center;
}

#advice-box #advice-text{
    text-align: center;
    height: auto;
    clear: both;
    color: var(--Light-Cyan);
    padding: 25px 0;
}

#text > svg{
    transform: scale(0.75);
    fill: var(--Light-Cyan);
}


#new-advice{
    position: absolute;
    padding: 10px;
    border-radius: 100%;
    align-items: center;
    border: none;
    word-wrap: break-word;
    bottom: -22.5px;
    background-color: var(--Neon-Green);
    box-shadow: 0 0 0 hsl(150, 100%, 76%);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
#new-advice:hover{
    box-shadow: 0 0 10px hsl(150, 100%, 76%);
}
#new-advice svg{
    transform: scale(0.75);
}

@media (max-width: 600px) {
    #advice-box{
        width: 340px;
    }
    footer > svg{
        transform: scale(0.60);
    }
}